version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: fittrack_backend
    ports:
      - "5000:5000"
    environment:
      - FLASK_DEBUG=False
      - PORT=5000
      - DATABASE_URL=sqlite:////app/instance/db.sqlite3
    volumes:
      - ./backend:/app/backend

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    container_name: fittrack_frontend
    ports:
      - "8501:8501"
    environment:
      - STREAMLIT_SERVER_HEADLESS=true
      - STREAMLIT_SERVER_PORT=8501
      - STREAMLIT_SERVER_ADDRESS=0.0.0.0
      - API_BASE=http://backend:5000/api
    depends_on:
      - backend
    volumes:
      - ./frontend:/app/frontend:ro
